h1{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
p{
    font-size: 13px;
    text-align: justify;
}
h4{
    text-align: center;
    font-size: 13px;
    font-weight: bold;
}
.pruebas{
    margin: 2%;
}
::ng-deep .mat-card-header-text{
    width: 100%;
}
.mat-card-header{
    width: 100%;
    text-align: center;
}
.example-full-width {
    width: 100%;
}
.example-card{
    width: 100%;
}
.login{
    padding: 2%;
    font-size: 14px;
    background-color: #d8d0d0;
}
.fondo{
    background: url("http://1byte.tech/sovio/assets/login.png");
    background-repeat: no-repeat;
    /*background-size: 50% 100%;*/
}
html {
    height: 100%
}

@media screen and (max-width: 600px) {
    .responsive{
        display: none;
    }
}
