<div class="fondo">
    <br>
    <div class="container">
      <div class="row">
          <div class="col-lg-6 col-sm-12"></div>
          <div class="col">
               
              <div class="row justify-content-md-center">
                  <div class="col-sm-4 col-lg-8">
                      <mat-card class="example-card" style="text-align: center;">
                          <mat-card-header>
                            <mat-card-title class="login">RECUPERAR CONTRASEÑA</mat-card-title>
                          </mat-card-header>
                          <mat-card-content>
                              <br>
                            <form  novalidate [formGroup]="formResPass">
                            <mat-form-field class="example-full-width">
                              <input  matInput placeholder="Correo" class="form-control" formControlName="correoForm">
                              <mat-error *ngIf="formResPass.get('correoForm').invalid">
                                Campo requerido
                              </mat-error>
                            </mat-form-field>
                            <br>
                            <mat-form-field class="example-full-width">
                              <input    matInput placeholder="Usuario" class="form-control" formControlName="usuarioForm"  >
                               
                              <mat-error *ngIf="formResPass.get('usuarioForm').invalid">
                                Campo requerido
                              </mat-error>
                            </mat-form-field>
                             
                            <p style="text-align: center;"> <a href="#" routerLink="/" >Ingresar</a></p>
                           
                            </form>
                          </mat-card-content>
                        </mat-card>
                  </div>
              </div>
          </div>
      </div>
  </div>
  
  </div>