

.titulo{
    height: 120px;
    margin-top: 10%;
}
.parrafo{
    height: 150px;
}
.icono{
    height: 50px;
}
.button{
    height: 50px;
}
h3{
    text-align: center;
}
p{
    text-align: center;
}
h2{  margin: 0 0 0px;}
