h1{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
p{
    font-size: 13px;
    text-align: justify;
}
h4{
    text-align: center;
    font-size: 13px;
    font-weight: bold;
}
.pruebas{
    margin: 2%;
}
::ng-deep .mat-card-header-text{
    width: 100%;
}
.mat-card-header{
    width: 100%;
    text-align: center;
}
.example-full-width {
    width: 100%;
}
.example-card{
    width: 100%;
    border-style: solid;
    border-width: 3px;
    box-shadow: none;
    border-color: #d2d2d2;
}
.login{
    padding: 2%;
    color: white;
    font-size: 15px;
    background-color: #000000;
}
.fondo{
    background-image: url("../../../../src/assets/login.png");
	text-align: center;
    background-attachment: fixed;
	background-repeat: no-repeat;
    position: relative;
    background-color: #ffffff;
}

html {
    height: 100%
}

@media screen and (max-width: 855px) {
    .fondo:before {
        content:'';
        position: absolute;
            top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #ffffffdc;
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 500px) {
    .responsive{
        display: none;
    }
}
