.titulo{
    text-align: center;
    background: #cfcfcf;
    padding: 0.5%;border: 3px solid #a2a1a1 !important;
}
.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}
[aria-label=primary] {
    background-color: blue;
}
::ng-deep .mat-horizontal-stepper-header-container{
    display: none !important;
}

::ng-deep .mat-tab-label{
    background-color: #000000 !important;
    color: #fff !important;
    opacity: 1 !important;
    border-top-color: rgb(175, 175, 175) !important;
    border-top-style: solid !important;
    border-top-width: 2px !important;
    border-right-color: rgb(175, 175, 175) !important;
    border-right-style: solid !important;
    border-right-width: 2px !important;
    border-bottom-color: rgb(175, 175, 175) !important;
    border-bottom-style: solid !important;
    border-bottom-width: 2px !important;
    border-left-color: rgb(175, 175, 175) !important;
    border-left-style: solid !important;
    border-left-width: 2px !important;
}

::ng-deep .mat-tab-label-active{
    background-color: #E1251B !important;
    color: #fff !important;
    opacity: 1 !important;
}

::ng-deep .header-less-tabs.mat-tab-group .mat-tab-header {
    display: none;
}

::ng-deep .header-blok-tabs.mat-tab-group .mat-tab-header {
    display: block;
}

.prueba-inactivo{
    background: #cfcfcf;
    color: black;
}

.card .mat-tab-group{
    border-right-color: rgb(175, 175, 175) !important;
    border-right-style: solid !important;
    border-right-width: 3px !important;
    border-bottom-color: rgb(175, 175, 175) !important;
    border-bottom-style: solid !important;
    border-bottom-width: 3px !important;
    border-left-color: rgb(175, 175, 175) !important;
    border-left-style: solid !important;
    border-left-width: 3px !important;
}

@media screen and (max-width: 500px) {
    .responsive{
        display: none;
    }
}

.example-radio-group{
    font-size: 12px;
}
