<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" opened>
    <hr>
      <div style="margin-left: 10%;">
        <h3><b><i class="fas fa-folder-open"></i> Reportes</b></h3>
      </div>
      <hr>
    </mat-drawer>
  
    <div class="example-sidenav-content">
        <nav class="navbar navbar-light" style="background-color: #E1251B;color: #fff;">
            <div class="container-fluid" >
              <h2 style="font-size: 26px;">MODULO "EVALUACION PSICOMETRICA"</h2>
            </div>
        </nav>
        <br><br>
        <div class="container">
            <div class="row">
                <div class="col" style="text-align: center;">
                    <button mat-raised-button style="padding: 2% 10%;"
                    (click)="typeFilter = '1'"
                    [ngClass]="{'btn': typeFilter == '1'}">
                        <div >
                            <div style="float: left;height: 100%;font-size: 40px;padding-top: 7%;">
                                <i class="fas fa-filter"></i>
                            </div>
                            <div style="font-size: 18px;float: right;">
                                <p style="margin-left: 6%;text-align: left;">Filtros por <br>Datos Personales</p>
                            </div>
                        </div>
                    </button>
                </div>
                <div class="col" style="text-align: center;">
                    <button mat-raised-button style="padding: 2% 10%;"
                    (click)="typeFilter = '2'"
                    [ngClass]="{'btn': typeFilter == '2'}">
                        <div >
                            <div style="float: left;height: 100%;font-size: 40px;padding-top: 7%;">
                                <i class="far fa-calendar-alt"></i>
                            </div>
                            <div style="font-size: 18px;float: right;">
                                <p style="margin-left: 6%;text-align: left;">Filtros por <br>Fechas de Registros</p>
                            </div>
                        </div>
                    </button>
                </div>
                <div class="col" style="text-align: center;">
                    <button mat-raised-button style="padding: 2% 10%;"
                    (click)="typeFilter = '3'"
                    [ngClass]="{'btn': typeFilter == '3'}">
                        <div >
                            <div style="float: left;height: 100%;font-size: 40px;padding-top: 7%;">
                                <i class="fas fa-database"></i>
                            </div>
                            <div style="font-size: 18px;float: right;">
                                <p style="margin-left: 6%;text-align: left;">Filtros por <br>Evaluación de Test</p>
                            </div>
                        </div>
                    </button>
                </div>
            </div>
        </div>
        <!--<mat-progress-bar mode="indeterminate"></mat-progress-bar>-->
        <hr>
        <div class="container" *ngIf="typeFilter === '1'">
            <mat-card>
                <span>Datos Personales</span>
                <hr>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="example-form-field">
                            <mat-label>Número de documento</mat-label>
                            <input matInput type="text" >
                          </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field >
                            <mat-label>Región</mat-label>
                            <mat-select>
                              <mat-option value="0">Seleccione</mat-option>
                              <mat-option value="{{res.id}}" *ngFor="let res of regions">{{res.name}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field >
                            <mat-label>Región</mat-label>
                            <mat-select>
                              <mat-option value="0">Seleccione</mat-option>
                              <mat-option value="{{res.id}}" *ngFor="let res of regions">{{res.name}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button mat-raised-button style="background: #e1251b;color: white;padding-left: 30px;padding-right: 30px;">Buscar</button>
                    </div>
                    <div class="col">
                        <button mat-raised-button style="background: #9f9e9e;color: white;padding-left: 30px;padding-right: 30px;">Lmpiar</button>
                    </div>
                </div>
            </mat-card>
            <br>
                <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="dataSource">
                      <ng-container matColumnDef="position">
                        <th mat-header-cell *matHeaderCellDef> # </th>
                        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                      </ng-container>
                      <ng-container matColumnDef="test">
                        <th mat-header-cell *matHeaderCellDef> Test </th>
                        <td mat-cell *matCellDef="let element"> {{element.test}} </td>
                      </ng-container>
                      <ng-container matColumnDef="fecha">
                        <th mat-header-cell *matHeaderCellDef> Fecha </th>
                        <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
                      </ng-container>
                      <ng-container matColumnDef="documento">
                        <th mat-header-cell *matHeaderCellDef> Número de documento </th>
                        <td mat-cell *matCellDef="let element"> {{element.documento}} </td>
                      </ng-container>
                      <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Apellidos y nombres </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                      </ng-container>
                      <ng-container matColumnDef="region">
                        <th mat-header-cell *matHeaderCellDef> Región </th>
                        <td mat-cell *matCellDef="let element"> {{element.region}} </td>
                      </ng-container>
                      <ng-container matColumnDef="ver">
                        <th mat-header-cell *matHeaderCellDef> Ver </th>
                        <td mat-cell *matCellDef="let element"> {{element.ver}} </td>
                      </ng-container>
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                  </div>
        </div>
        <div class="container" *ngIf="typeFilter === '2'">
            <mat-card>
                <span>Datos Personales</span>
                <hr>
                <div class="row">
                  <div class="col">
                    <mat-form-field class="example-form-field">
                        <mat-label>Número de documento</mat-label>
                        <input matInput type="text" >
                      </mat-form-field>
                  </div>
                    <div class="col">
                      <mat-form-field >
                          <mat-label>Test</mat-label>
                          <mat-select>
                            <mat-option value="0">Seleccione</mat-option>
                            <mat-option value="2">PHB</mat-option>
                            <mat-option value="3">TEPE</mat-option>
                            <mat-option value="4">IEPPO</mat-option>
                          </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col">
                      <mat-form-field color="accent" appearance="fill">
                        <mat-label>Inicio</mat-label>
                        <input matInput [matDatepicker]="picker1">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                      </mat-form-field>
                    </div>
                    <div class="col">
                      <mat-form-field color="accent" appearance="fill">
                        <mat-label>Fin</mat-label>
                        <input matInput [matDatepicker]="picker2">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2 color="primary"></mat-datepicker>
                      </mat-form-field>
                    </div>
                </div>
                <div class="row">
                  <div class="col">
                      <button mat-raised-button style="background: #e1251b;color: white;padding-left: 30px;padding-right: 30px;">Buscar</button>
                  </div>
                  <div class="col">
                      <button mat-raised-button style="background: #9f9e9e;color: white;padding-left: 30px;padding-right: 30px;">Lmpiar</button>
                  </div>
              </div>
            </mat-card>
            <br>
                <div class="mat-elevation-z8">
                  <table mat-table [dataSource]="dataSource">
                    <ng-container matColumnDef="position">
                      <th mat-header-cell *matHeaderCellDef> # </th>
                      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                    </ng-container>
                    <ng-container matColumnDef="test">
                      <th mat-header-cell *matHeaderCellDef> Test </th>
                      <td mat-cell *matCellDef="let element"> {{element.test}} </td>
                    </ng-container>
                    <ng-container matColumnDef="fecha">
                      <th mat-header-cell *matHeaderCellDef> Fecha </th>
                      <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
                    </ng-container>
                    <ng-container matColumnDef="documento">
                      <th mat-header-cell *matHeaderCellDef> Número de documento </th>
                      <td mat-cell *matCellDef="let element"> {{element.documento}} </td>
                    </ng-container>
                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef> Apellidos y nombres </th>
                      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>
                    <ng-container matColumnDef="region">
                      <th mat-header-cell *matHeaderCellDef> Región </th>
                      <td mat-cell *matCellDef="let element"> {{element.region}} </td>
                    </ng-container>
                    <ng-container matColumnDef="ver">
                      <th mat-header-cell *matHeaderCellDef> Ver </th>
                      <td mat-cell *matCellDef="let element"> {{element.ver}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                  </div>
        </div>
        <div class="container" *ngIf="typeFilter === '3'">
            <mat-card>
                <span>Datos Personales</span>
                <hr>
                <div class="row">
                  <div class="col">
                    <mat-form-field >
                        <mat-label>Test</mat-label>
                        <mat-select>
                          <mat-option value="0">Seleccione</mat-option>
                          <mat-option value="2">PHB</mat-option>
                          <mat-option value="3">TEPE</mat-option>
                          <mat-option value="4">IEPPO</mat-option>
                        </mat-select>
                      </mat-form-field>
                  </div>
                  <div class="col">
                    <mat-form-field color="accent" appearance="fill">
                      <mat-label>Inicio</mat-label>
                      <input matInput [matDatepicker]="picker1">
                      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                      <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col">
                    <mat-form-field color="accent" appearance="fill">
                      <mat-label>Fin</mat-label>
                      <input matInput [matDatepicker]="picker2">
                      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                      <mat-datepicker #picker2 color="primary"></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                      <button mat-raised-button style="background: #e1251b;color: white;padding-left: 30px;padding-right: 30px;">Buscar</button>
                  </div>
                  <div class="col">
                      <button mat-raised-button style="background: #9f9e9e;color: white;padding-left: 30px;padding-right: 30px;">Lmpiar</button>
                  </div>
              </div>
            </mat-card>
            <br>
                <div class="mat-elevation-z8">
                  <table mat-table [dataSource]="dataSourceTest">
                    <ng-container matColumnDef="position">
                      <th mat-header-cell *matHeaderCellDef> # </th>
                      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                    </ng-container>
                    <ng-container matColumnDef="test">
                      <th mat-header-cell *matHeaderCellDef> Test </th>
                      <td mat-cell *matCellDef="let element"> {{element.test}} </td>
                    </ng-container>
                    <ng-container matColumnDef="total">
                      <th mat-header-cell *matHeaderCellDef> Total </th>
                      <td mat-cell *matCellDef="let element"> {{element.total}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsTest"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsTest;"></tr>
                  </table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                  </div>
        </div>
      <!--
          <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button>
      -->
    </div>
  </mat-drawer-container>
